body {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.remove {
  margin-right: 0.5em;
  float: right;
  size: 3rem;
}
.items {
  font-family: "Montserrat", sans-serif;
  font-size: large;
  font-weight: 500;
}

/* When entering */
.fade-enter {
  opacity: 0.01;
}

/* When fading is completed */
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

/* When fading is completed */
.fade-enter-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
.additems {
  margin-inline-end: 0.5em;
}
.add {
  background-color: rgba(64, 16, 197, 0.884);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.authenticate {
  background-color: rgb(255, 255, 255);
  padding: 3em;
  margin-top: 15vh;
  border: 3px solid #ffeee6;
  border-radius: 9px;
}
.authenticate h2 {
  text-align: center;
}
.authenticate button {
  float: right;
  margin-top: 0.5rem;
}
.items {
  padding: 1em;
  border-radius: 2px;
}
a {
  color: #ffeee6;
  text-decoration: none;
}
a :hover {
  color: #ffeee6;
  text-decoration: none;
}
.github {
  padding-top: 1em;
}
.ml-auto {
  margin-right: auto;
}
.fluid {
  text-align: center;
  border-radius: 30px;
  margin-top: 30vh;
  background-color: aliceblue;
}
.display-3 {
  font-size: 6rem;
}
.lead {
  font-size: 3rem;
}
.logout:hover {
  cursor: pointer;
}
.login {
  margin-right: 10px;
}
/* Loading Animation :  */
.loader {
  animation: spin 1s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #09f;
  border-top-color: #09f;
  box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 20vmin;
  z-index: 1;
  &:before {
    animation: spin 2s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: #3cf;
    border-top-color: #3cf;
    box-sizing: border-box;
    content: "";
    height: 16vmin;
    left: 0;
    position: absolute;
    top: 0;
    width: 16vmin;
  }
  &:after {
    animation: spin 3s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: #6ff;
    border-top-color: #6ff;
    box-sizing: border-box;
    content: "";
    height: 12vmin;
    left: 2vmin;
    position: absolute;
    top: 2vmin;
    width: 12vmin;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
